svg {
    /* constrain height, otherwise svg grows larger than screen
       todo: how to make this adapt to parent element?
    */
    max-height: 70vh;
}
.node {
    r: 10;
    fill: gray;
    transition: .5s ease-in-out 0s
}

.node-highlighted {
    r: 20;
    fill: red;
    transition: 0s ease-in-out 0s
}

.edge {
    stroke: black;
}
