svg {
    /* constrain height, otherwise svg grows larger than screen */
    max-height: 70vh;
}
.node {
    r: 5;
    fill: gray;
    transition: .75s ease-in-out 0s
}

.node-highlighted {
    r: 20;
    fill: red;
    transition: 0s ease-in-out 0s
}

.edge {
    stroke: black;
}
