<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side">
        <p><button mat-button (click)="sidenav.toggle()">close menu</button></p>
        <p><a routerLink="/search/astar">A* search</a></p>
        <p><a routerLink="/search/bfs">Breadth-first search</a></p>
        <p><a routerLink="/search/dfs">Depth-first search</a></p>
        <p><a routerLink="/search/greedy_bfs">Greedy best-first search</a></p>
        <p><a routerLink="/search/ids">Iterative deepening search</a></p>
        <p><a routerLink="/graph_alg_viewer">Graph algorithm viewer</a></p>
    </mat-sidenav>

    <mat-sidenav-content>
        <p><button mat-button (click)="sidenav.toggle()">menu</button></p>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
