#app-sidenav-content-container {
    height: 100%;
    width: 100%;
    display: flex;
}
#app-sidenav-mini {
    width: 56px;
}
#app-sidenav-main-content {
    width: 100%;
    height: 100%;
}
#btn-open-menu {
    min-width: 10%;
}
