<h1>Topological sort</h1>
<div id="box-container">
  <div id="box-steps">
    <p>Find node orderings in graphs with and without cycles</p>
    <div style="display: flex; flex-flow: row;">
      <p>{{currentStepText}}</p>
      <button mat-button (click)="back()">{{backButtonText}}</button>
      <button mat-button (click)="next()">{{nextButtonText}}</button>
      <button mat-button (click)="reset()">Reset</button>
    </div>
  </div>
  <div id="box-graph">
    <app-graph-editor *ngIf="!showSvgGraph"></app-graph-editor>
    <app-graph-svg [nodes]="svgnodes" [edges]="svgedges" *ngIf="showSvgGraph"></app-graph-svg>
  </div>
</div>
