<h1>Topological sort</h1>
<div id="box-container">
  <div id="box-steps">
    <p>Find node orderings in graphs with and without cycles</p>
    <div style="display: flex; flex-flow: row;">
      <p>{{currentStepText}}</p>
      <button mat-button (click)="back()">{{backButtonText}}</button>
      <button mat-button (click)="next()">{{nextButtonText}}</button>
      <button mat-button (click)="reset()">Reset</button>
    </div>
  </div>
  <div>
    <app-graph-editor class="box-graph" *ngIf="!showSvgGraph"></app-graph-editor>
  </div>
</div>
<app-graph-svg class="box-graph" [nodes]="svgnodes" [edges]="svgedges" *ngIf="showSvgGraph"
  style="height: 500px; width: 500px;"></app-graph-svg>
